@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr [todo-area-start] 1fr [todo-area-end] 1fr;
	justify-content: center;
}

.todo-list {
	display: grid;
	grid-area: todo-area;
	width: 100%;
}

.todo-items {
	padding-top: 1rem;
}

.todo-items li {
	border: 1px solid #ffffff;
	box-sizing: border-box;
	padding: 1rem;
	margin-block: 1rem;
	width: 100%;
}

.todo-input {
	display: grid;
	align-items: center;
}

.todo-input,
.todo-items {
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

input {
	border: none;
	border-radius: 9999px;
	padding: 10px;
	margin-top: 1rem;
}

button {
	background-color: rgb(54, 159, 54);
	border: none;
	border-radius: 9999px;
	font-weight: bold;
	padding: 10px;
	margin-top: 1em;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	.todo-items li {
		border: 1px solid #213547;
	}
}
